<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestFileCatalog" value="C:\temp" />
  </appSettings>
  <connectionStrings>
    <add name="TestConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=ZHICHKIN;Initial Catalog=one-c-sharp;Integrated Security=True"/>
  </connectionStrings>
</configuration>